@import '../../../assets/scss/global';


$detailFont: 12px;



$viewer-width: 68%;
$viewer-height: 80%;

$spec-width: 30%;
$spec-height: 80%;

$spec-bottom-width: 68%;
$spec-bottom-height: 20%;

$share-width: 30%;
$share-height: 20%;



// icon
$icon-size: 30px;
$icon-size-info: 14px;



.container {
    @include size(100%, 400px);
    @include flex(flex, row wrap);
    justify-content: space-between;

    font-size: $detailFont;

    .viewer { 
        
        @include testShadow();
        @include size(68%, 80%); 
        @include flex(flex, row wrap);
        justify-content: space-between;
        padding:4px;


        > div {
            @include testShadow();
        }

        .left, .right { 
            @include size(15%, 80%);
            @include flex(flex, column nowrap);
            justify-content: space-around;

        }
        .view { @include size(60%, 80%); }
        
        
        .top, .bottom { 
            @include size(100%, 10%); 
            @include flex(flex, row nowrap);
            justify-content: center;
            align-items: center;

            text-align:center;

            img { 
                @include size($icon-size-info, $icon-size-info);
            }
        }

    }

    .spec { 
        @include testShadow();
        @include size(30%, 80%); 
        @include flex(flex, row wrap);
        justify-content: space-around;
        padding:4px;

        img { 
            @include size($icon-size, auto);
        }

        .brand{
            @include size(90%, auto);
            align-self: center;
        }

        
    }

    .spec-bottom { 
        @include testShadow();
        @include size($spec-bottom-width, $spec-bottom-height); 
        @include flex(flex, row nowrap);
        justify-content: space-around;
        align-items: center;
        padding:4px;

        img { @include size(14px, auto); vertical-align: text-top; }
    }
    
     //임시 크기
    .share { 
        @include testShadow();
        @include size(30%, 20%);
        padding:4px; 
        

    } //임시 크기 

    margin: 30px auto;
    
    @include testBg();
    
}


.cup-slider-container {
    @include size(100%, auto);
    margin: 200px auto;

    @include testShadow();
    
}