@import '../../../assets/scss/global';



.cup-detail-container {
    @include size(100%, 400px);
    margin: 30px auto;
    
    @include testBg();
    

    text-align: center;
    h1{ font-size:80px;
    vertical-align: middle; }

}


.cup-slider-container {
    @include size(100%, auto);
    margin: 200px auto;

    @include testShadow();
    overflow-x:scroll;
}