@import '../../assets/scss/global';

.cup-container {
    @include size(100%, auto);
    @include flex(flex, row wrap);
    margin: 0 auto;
    
    
    
    .cup {
        @include testBg();
        @include testShadow();
        @include testTransition();
        @include size(22%, 200px);
        
        margin:10px;
        

        text-align:center;
    }
}
