@import '../../assets/scss/global';

.cup-container {
    @include size(100%, auto);
    @include flex(flex, row wrap);
    margin: 100px auto;
    
    
    
    .cup {
        @include testBg();
        @include testShadow();
        @include testTransition();
        @include size(28%, 200px);
        padding:10px;
        
        img { 
            @include size(auto, 80%);
        }
        p {
            
        }
        margin:10px;
        

        text-align:center;
    }
}
