// @charset "utf-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


$fontSize0: 100%; //body
$fontSize1: 300%; //h1
$fontSize2: 200%; //h2
$fontSize3: 120%; //h3, blockquote, .history_box > .title
$fontSize4: 110%; //h4
$fontSize5: 90%; //instruction
$fontSize6: 80%; //.value_index, .value_data

$lineHeight0: 1.8; //default, .side_bar
$lineHeight1: 2; //blockquote
$lineHeight2: 1.5; //.value_index, .value_data

$letterSpacing0: -0.05rem; //.small_title

// $font-sans: 'Noto Sans KR',sans-serif; //default font-family
// $font-serif: 'Iropke Batang', serif;





/*
* 나눔스퀘어
* Nanum Square
*
* SIL Open Font License 1.1
* http://help.naver.com/ops/step2/faq.nhn?faqId=15879
*/

/*

@font-face {
  font-family: 'Nanum Square';
  src: local('Nanum Square'), local('NanumSquare'), local('나눔스퀘어'), local(''), url('//hangul.online/static/fonts/nanum-square/Nanum-Square-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nanum Square';
  src: local('Nanum Square'), local('NanumSquare'), local('나눔스퀘어'), local(''), url('//hangul.online/static/fonts/nanum-square/Nanum-Square-Regular.ttf') format('truetype'), url('//hangul.online/static/fonts/nanum-square/Nanum-Square-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nanum Square';
  src: local('Nanum Square'), local('NanumSquare'), local('나눔스퀘어'), local(''), url('//hangul.online/static/fonts/nanum-square/Nanum-Square-Bold.ttf') format('truetype'), url('//hangul.online/static/fonts/nanum-square/Nanum-Square-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nanum Square';
  src: local('Nanum Square'), local('NanumSquare'), local('나눔스퀘어'), local(''), url('//hangul.online/static/fonts/nanum-square/Nanum-Square-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

.nanum-square {
  font-family: 'Nanum Square', sans-serif;
}
*/