

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@import '../../fonts/nanumsquare';


$fontSize0: 100%; //body
$fontSize1: 300%; //h1
$fontSize2: 200%; //h2
$fontSize3: 120%; //h3, blockquote, .history_box > .title
$fontSize4: 110%; //h4
$fontSize5: 90%; //instruction
$fontSize6: 80%; //.value_index, .value_data

$lineHeight0: 1.8; //default, .side_bar
$lineHeight1: 2; //blockquote
$lineHeight2: 1.5; //.value_index, .value_data

$letterSpacing0: -0.05rem; //.small_title

$font-sans: 'NanumSquare', sans-serif; //default font-family
// $font-serif: 'Iropke Batang', serif;

