@import '../../../assets/scss/global';

$currentCol: purple;
$nearCol: lighten($currentCol, 20%);

.slider-container {
    @include size(100%, auto);
    
    @include flex(flex, row nowrap);
    justify-content: space-around;
    text-align: center;
    
    @include testShadow();


    .slider-item {
        @include size(8%, 160px);
        @include testBg();
        @include testShadow();
        @include testTransition();

        margin: 2px;
        flex-shrink: 0;

        span {
          font-size: 8px;
        }

        &:nth-of-type(7){
          background-color: $nearCol;
        }

        &:nth-of-type(8){
          background-color: $currentCol;
        }

        &:nth-of-type(9){
          background-color: $nearCol;
        }
    }



}
