<section class="container">

  <div class="about">
    <p class="comment">누군가 정리해줬으면 좋겠다 싶었는데.</p>
    <div class="studio-info">
      <p class="name">스투키 스튜디오</p>
      <p class="email">stuckyi.info@gmail.com</p>
    </div>
  </div>

  <div class="info">
    <a href="#"> 활용한 데이터에 관하여 </a>
    <a href="#"> 프로젝트에 기여하기    </a>
    <p> 최종 업데이트 : 2016. 0. 0.</p>
  </div>

  <div class="copyright">
    <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
      <img alt="크리에이티브 커먼즈 라이선스" 
        style="border-width:0" 
        src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" />
    </a>
    <!--<p class="license"> 이 저작물은 크리에이티브 커먼즈 저작자표시-비영리 4.0 국제 라이선스 에 따라 이용할 수 있습니다.</p>-->
    <p class="license">
      저작자와 출처 등을 표시하면 저작물의 변경, 2차적 저작물의 작성을 포함한 자유이용을 허락합니다.
      단 영리적 이용은 허용되지 않습니다.
    </p>
  </div>

</section>